<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
</head>
<body>
    <h1>Entrar</h1>
    <p>Seja um Bolinha também!</p>
    <form action="/login" method="POST">
        <label for="username">E-mail</label>
        <input type="text" name="username" id="username" required="true">
        <br><br>
        <label for="password">Senha</label>
        <input type="password" name="password" id="password" required="true">
        <br><br>
        <input type="submit" name="submit" value="Entrar"> 
    </form>
        <% if (typeof(messages)!=='undefined'){ %>
                <p><%= messages %></p>
        <%}%>
</body>
</html>